<ion-content>

  <ion-card *ngFor="let item of Items">
    <ion-card-header>
      <ion-label><img src="{{ item.urls.small }}" alt="" /></ion-label>
      <ion-card-title>Здесь будет текст</ion-card-title>
        <ion-button   (click)=onItemClicked(item.urls) [routerLink]="['/Info',item]">Info</ion-button>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-text color="secondary">
          <h1> The quick brown fox jumps over the lazy dog</h1>
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>





</ion-content>
